.logo {
  font-size: 3.5rem;
  font-weight: 1500;
  color: #fa1e1e;
}

.highlight{
    display: inline-block;
    padding: .25em 0;
    background: #e62c18;
    color: #ffffff;
}

.title2 {
  font-family: 'Solway';
  font-size: 1.5rem;
  font-weight: 50;

}

.highlight_name{
    display: inline-block;
    padding: .25em 0;
    background: #ef8c22;
    color: #ffffff;
}

.highlight-text-gain{
    display: inline-block;
    padding: .25em 0;
    background: #b2f76e;
    color: #040404;
}

.highlight-text-loss{
    display: inline-block;
    padding: .25em 0;
    background: #e23b46;
    color: #040404;
}

.highlight-text{
    display: inline-block;
    padding: .25em 0;
    background: #eebb30;
    color: #040404;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* preserve your existing rules */
  font-family: 'Solway', sans-serif;
  margin: 20px;
}

p {
  max-width: 800px;      /* limits line length */
  text-align: justify;   /* evens out the right edge */
  margin: 1em 0;         /* gives vertical breathing room */
}

hr {
  align-self: stretch;
  margin: 1em 0;
}

.circle-sketch-highlight{
  position:relative;
  left:0.5em;
  font-family: Solway;
  font-size: 32px;
  font-weight: 600;
}
.circle-sketch-highlight:before{
  content:"";
  z-index:-1;
  left:-0.5em;
  top:-0.1em;
  border-width:4px;
  border-style:solid;
  border-color:#ef8c22;
  position:absolute;
  border-right-color:transparent;
  width:100%;
  height:1.3em;
  transform:rotate(2deg);
  opacity:0.7;
  border-radius:50%;
  padding:0.15em 0.3em;
}
.circle-sketch-highlight:after{
  content:"";
  z-index:-1;
  left:-0.5em;
  top:0.1em;
  padding:0.15em 0.3em;
  border-width:4px;
  border-style:solid;
  border-color:#ef8c22;
  border-left-color:transparent;
  border-top-color:transparent;
  position:absolute;
  width:100%;
  height:1.3em;
  transform:rotate(-1deg);
  opacity:0.7;
  border-radius:50%;
}

.highlight-container, .highlight-1 {
  position: relative;
}

.highlight-container {
  display: inline-block;
}
.highlight-container:before {
  content: " ";
  display: block;
  height: 90%;
  width: 100%;
  margin-left: -3px;
  margin-right: -3px;
  position: absolute;
  background: #d0b59a;
  transform: rotate(2deg);
  top: -1px;
  left: -1px;
  border-radius: 20% 25% 20% 24%;
  padding: 10px 3px 3px 10px;
}